<div class="container">
    <!-- <mat-card> -->
        <div>
            <div class="example1">
                TOTAL BALANCE OUTSTANDING  =  {{obj && obj[0]?.total}}
            </div>

            <div class="example4">
                {{obj1 && obj1[0]?.approver_name}}  :  {{obj1 && obj1[0]?.result}}
            </div>

            <div class="example2">
                TOTAL CREDIT GIVEN  =  {{obj && obj[0]?.total1}}
            </div>

            <div class="example4">
                {{obj1 && obj1[0]?.approver_name}}  :  {{obj1 && obj1[0]?.result2}}
            </div>

            <div class="example3">
                TOTAL RECOVERY DONE  =  {{obj && obj[0]?.total2}}
            </div>
            <div class="example4">
                {{obj1 && obj1[0]?.approver_name}}  :  {{obj1 && obj1[0]?.result1}}
            </div>
        </div>
    <!-- </mat-card> -->
</div>